@font-face {
	font-family: 'Manrope';
	src: url('/src/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf');
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

.container {
	display: flex;
	margin: 36px 40px;
	background-color: #ebf0fa;
	align-items: center;
	justify-content: space-between;
	font-family: 'Manrope', sans-serif;
	height: 456px;
	border-radius: 10px;
	max-width: 1360px;

	.shadow {
		content: '';
		background: #000;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		z-index: 2;
		display: none;
	}

	@media (min-width: 1920px) {
		max-width: 100vw;
	}

	@media (min-width: 1440px) and (max-width: 1920px) {
		max-width: calc(
			1360px + (1840 - 1360) * ((100vw - 1440px) / (1920 - 1440))
		);
	}

	@media (min-width: 768px) and (max-width: 1440px) {
		max-width: calc(720px + (1360 - 720) * ((100vw - 768px) / (1440 - 768)));
		margin: calc(24px + (36 - 24) * ((100vw - 768px) / (1440 - 768)))
			calc(24px + (40 - 24) * ((100vw - 768px) / (1440 - 768)));
	}

	@media (min-width: 375px) and (max-width: 768px) {
		flex-direction: column;
		margin: 24px;
		max-width: 720px;

		margin: calc(14px + (24 - 14) * ((100vw - 375px) / (768 - 375))) 24px;
	}

	@media (min-width: 320px) and (max-width: 375px) {
		flex-direction: column;
		margin: 14px 24px;
		max-width: calc(296px + (327 - 296) * ((100vw - 320px) / (375 - 320)));
	}

	.main-info {
		margin-left: 72px;
		margin-right: 70px;

		@media (min-width: 1920px) {
			max-width: calc(538px + 1vw);
			margin-right: calc(-1024px + 70vw);
		}

		@media (min-width: 1440px) and (max-width: 1920px) {
			max-width: 538px;
			margin-left: 72px;
			margin-right: calc(
				70px + (320 - 70) * ((100vw - 1440px) / (1920 - 1440))
			);
		}

		@media (min-width: 768px) and (max-width: 1440px) {
			margin-left: calc(24px + (72 - 24) * ((100vw - 768px) / (1440 - 768)));
			margin-right: calc(24px + (72 - 24) * ((100vw - 768px) / (1440 - 768)));
			max-width: calc(360px + (538 - 360) * ((100vw - 768px) / (1440 - 768)));
		}

		@media (min-width: 375px) and (max-width: 768px) {
			padding: 24px 0;
			max-width: 100%;
			margin-left: 24px;
			margin-right: 24px;
		}

		@media (min-width: 320px) and (max-width: 375px) {
			max-width: 100%;
			padding-left: 24px;
			padding-right: 24px;
			padding: calc(14px + (24 - 18) * ((100vw - 320px) / (375 - 320)));
		}

		.main-info-header {
			color: #1f4284;
			font-weight: 500;
			font-size: 26px;
			margin-bottom: 18px;

			@media (min-width: 1920px) {
				font-size: 30px;
			}

			@media (min-width: 1440px) and (max-width: 1920px) {
				font-size: calc(26px + (30 - 26) * ((100vw - 1440px) / (1920 - 1440)));
			}

			@media (min-width: 376px) and (max-width: 768px) {
				font-size: 20px;
				font-size: calc(17px + (20 - 17) * ((100vw - 375px) / (768 - 375)));
			}

			@media (min-width: 320px) and (max-width: 375px) {
				font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (375 - 320)));
				margin-bottom: calc(14px + (18 - 14) * ((100vw - 320px) / (375 - 320)));
			}
		}

		.main-info-paragraph {
			color: #727272;
			font-weight: 400;
			font-size: 17px;
			line-height: 160%;
			padding-right: 27px;
			margin-bottom: 36px;

			@media (min-width: 768px) and (max-width: 1440px) {
				font-size: calc(15px + (17 - 15) * ((100vw - 768px) / (1440 - 768)));
			}

			@media (min-width: 375px) and (max-width: 768px) {
				font-size: calc(13px + (15 - 13) * ((100vw - 375px) / (768 - 375)));
				padding-right: 0px;
				margin-bottom: calc(18px + (24 - 18) * ((100vw - 375px) / (768 - 375)));
			}

			@media (min-width: 320px) and (max-width: 375px) {
				font-size: calc(11px + (13 - 11) * ((100vw - 320px) / (375 - 320)));
				padding-right: 0;
				margin-bottom: 18px;
			}
		}

		.main-info-button {
			background-color: #244c98;
			border: none;
			border-radius: 60px;
			color: #ffff;
			width: 341px;
			height: 68px;
			font-family: 'Manrope', sans-serif;
			font-weight: 500;
			font-size: 18px;
			display: flex;
			align-items: center;
			padding-left: 24px;
			gap: 57px;
			line-height: 160%;

			@media (min-width: 375px) and (max-width: 768px) {
				width: 261px;
				height: 56px;
				padding-left: 18px;
				font-size: 15px;
				gap: 27px;
			}

			@media (min-width: 320px) and (max-width: 375px) {
				width: 279px;
				height: 56px;
				padding-left: 18px;
				font-size: 15px;
				gap: 45px;
				width: calc(220px + (279 - 220) * ((100vw - 320px) / (375 - 320)));
				gap: calc(32px + (45 - 32) * ((100vw - 320px) / (375 - 320)));
				padding-left: calc(10px + (18 - 10) * ((100vw - 320px) / (375 - 320)));
				font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (375 - 320)));
			}

			&:hover {
				background-color: #183262;
				transition: all 0.4s ease-in-out;

				& .icon path {
					stroke: #183262;
					transition: all 0.4s ease-in-out;
				}
			}

			.icon {
				width: 44px;
				height: 44px;

				@media (min-width: 376px) and (max-width: 768px) {
					width: 36px;
					height: 36px;
				}

				@media (min-width: 320px) and (max-width: 375px) {
					width: calc(30px + (36 - 30) * ((100vw - 320px) / (375 - 320)));
					height: calc(30px + (36 - 30) * ((100vw - 320px) / (375 - 320)));
				}
			}
		}
	}

	.main-image {
		height: 456px;
		width: 100%;

		.image {
			width: 100%;
			height: 100%;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;

			@media (min-width: 1920px) {
				content: url('../../../public/images/mainImage1920.png');
			}

			@media (min-width: 1660px) and (max-width: 1920px) {
				content: url('../../../public/images/mainImage1920.png');
			}

			@media (min-width: 768px) and (max-width: 1440px) {
				/* object-fit: cover; */
			}

			@media (min-width: 376px) and (max-width: 768px) {
				content: url('../../../public/images/mainImage768.png');
				border-top-right-radius: 0px;
				border-bottom-left-radius: 10px;
			}
		}
	}
}

.main-form {
	width: 500px;
	height: 575px;
	background-color: #f0f4fc;
	padding: 24px;
	color: #323232;
	font-family: 'Manrope', sans-serif;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 3;
	display: none;

	@media (min-width: 320px) and (max-width: 768px) {
		width: calc(280px + (500 - 280) * ((100vw - 320px) / (768 - 320)));
		height: calc(360px + (575 - 360) * ((100vw - 320px) / (768 - 320)));
		padding: calc(12px + (24 - 12) * ((100vw - 320px) / (768 - 320)));
	}

	.close-button-block {
		display: flex;
		justify-content: flex-end;
	}

	.close-button {
		background-color: #ffffff;
		border: none;
		border-radius: 10px;
		width: 52px;
		height: 52px;
		align-items: flex-end;
		justify-content: flex-end;
		margin-bottom: 4px;

		@media (min-width: 320px) and (max-width: 768px) {
			width: calc(26px + (52 - 26) * ((100vw - 320px) / (768 - 320)));
			height: calc(26px + (52 - 26) * ((100vw - 320px) / (768 - 320)));
		}

		&:hover {
			& .cross path {
				stroke: #2a55a4;
				transition: all 0.4s ease-in-out;
			}
		}

		.cross {
			width: 24px;
			height: 24px;

			@media (min-width: 320px) and (max-width: 768px) {
				width: calc(12px + (24 - 12) * ((100vw - 320px) / (768 - 320)));
				height: calc(12px + (24 - 12) * ((100vw - 320px) / (768 - 320)));
			}
		}
	}

	.main-form-header {
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 18px;

		@media (min-width: 320px) and (max-width: 768px) {
			font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (768 - 320)));
		}
	}

	.input-block {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin-bottom: 24px;

		@media (min-width: 320px) and (max-width: 768px) {
			margin-bottom: calc(12px + (24 - 12) * ((100vw - 320px) / (768 - 320)));
		}
	}

	.save-password-block {
		margin-bottom: 24px;
		display: flex;
		gap: 14px;
		align-items: center;

		@media (min-width: 320px) and (max-width: 768px) {
			margin-bottom: calc(12px + (24 - 12) * ((100vw - 320px) / (768 - 320)));
		}
	}

	.save-password-text {
		font-size: 18px;

		@media (min-width: 320px) and (max-width: 768px) {
			font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (768 - 320)));
		}
	}

	.save-password-checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	.save-password-checkbox + label {
		display: flex;
		align-items: center;
		user-select: none;
	}

	.save-password-checkbox + label::before {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		flex-shrink: 0;
		flex-grow: 0;
		border: 2px black solid;
		border-radius: 0.25em;
		margin-right: 0.25em;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
	}

	.save-password-checkbox:checked + label::before {
		border: none;
		background-color: #1f4284;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
	}

	.save-password-checkbox:not(:disabled):not(:checked) + label:hover::before {
		border-color: #336ad1;
		transition: all 0.4s ease-in-out;
	}

	.main-form-input {
		background-color: #d7e2f6;
		color: #1f4284;
		border: none;
		border-radius: 10px;
		font-size: 18px;
		font-weight: 500;
		padding: 24px;

		@media (min-width: 320px) and (max-width: 768px) {
			padding: calc(12px + (24 - 12) * ((100vw - 320px) / (768 - 320)));
			font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (768 - 320)));
		}

		&:hover {
			box-shadow: 0 0 6px #1f4284;
			transition: all 0.4s ease-in-out;
		}
	}

	.recover {
		display: block;
		font-size: 20px;
		color: #244c98;
		margin-bottom: 36px;
		font-weight: 500;

		@media (min-width: 320px) and (max-width: 768px) {
			font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (768 - 320)));
			margin-bottom: calc(18px + (36 - 18) * ((100vw - 320px) / (768 - 320)));
		}

		&:hover {
			cursor: pointer;
			color: #3873e1;
			transition: 0.4s ease-in-out;
		}
	}

	.button-block {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.main-form-button {
		border: none;
		border-radius: 4px;
		height: 65px;
		font-size: 18px;
		font-weight: 500;
		font-family: 'Manrope', sans-serif;

		@media (min-width: 320px) and (max-width: 768px) {
			height: calc(40px + (65 - 40) * ((100vw - 320px) / (768 - 320)));
			font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (768 - 320)));
		}
	}

	.sign-up {
		color: #244c98;
		background-color: transparent;
		border: 1px #244c98 solid;

		&:hover {
			color: #183262;
			background-color: #e4edff;
			transition: all 0.4s ease-in-out;
		}
	}
	.sign-in {
		color: #fff;
		background-color: #244c98;

		&:hover {
			background-color: #183262;
			transition: all 0.4s ease-in-out;
		}
	}
}
