@font-face {
  font-family: "Manrope";
  src: url("/src/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf");
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.container {
  display: flex;
  margin: 36px 40px;
  background-color: #ebf0fa;
  align-items: center;
  justify-content: space-between;
  font-family: "Manrope", sans-serif;
  height: 456px;
  border-radius: 10px;
  max-width: 1360px;
}
.container .shadow {
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 2;
  display: none;
}
.container .main-info {
  margin-left: 72px;
  margin-right: 70px;
}
.container .main-info-header {
  color: #1f4284;
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 18px;
}
.container .main-info-paragraph {
  color: #727272;
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  padding-right: 27px;
  margin-bottom: 36px;
}
.container .main-info-button {
  background-color: #244c98;
  border: none;
  border-radius: 60px;
  color: white;
  width: 341px;
  height: 68px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  gap: 57px;
  line-height: 160%;
}
.container .main-info-button:hover {
  background-color: #183262;
  transition: all 0.4s ease-in-out;
}
.container .main-info-button:hover .icon path {
  stroke: #183262;
  transition: all 0.4s ease-in-out;
}
.container .main-info-button .icon {
  width: 44px;
  height: 44px;
}
.container .main-image {
  height: 456px;
  width: 100%;
}
.container .main-image .image {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-form {
  width: 500px;
  height: 575px;
  background-color: #f0f4fc;
  padding: 24px;
  color: #323232;
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 3;
  display: none;
}
.main-form .close-button-block {
  display: flex;
  justify-content: flex-end;
}
.main-form .close-button {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 52px;
  height: 52px;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 4px;
}
.main-form .close-button:hover .cross path {
  stroke: #2a55a4;
  transition: all 0.4s ease-in-out;
}
.main-form .close-button .cross {
  width: 24px;
  height: 24px;
}
.main-form .main-form-header {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 18px;
}
.main-form .input-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
}
.main-form .save-password-block {
  margin-bottom: 24px;
  display: flex;
  gap: 14px;
  align-items: center;
}
.main-form .save-password-text {
  font-size: 18px;
}
.main-form .save-password-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.main-form .save-password-checkbox + label {
  display: flex;
  align-items: center;
  user-select: none;
}
.main-form .save-password-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px black solid;
  border-radius: 0.25em;
  margin-right: 0.25em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.main-form .save-password-checkbox:checked + label::before {
  border: none;
  background-color: #1f4284;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.main-form .save-password-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #336ad1;
  transition: all 0.4s ease-in-out;
}
.main-form .main-form-input {
  background-color: #d7e2f6;
  color: #1f4284;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  padding: 24px;
}
.main-form .main-form-input:hover {
  box-shadow: 0 0 6px #1f4284;
  transition: all 0.4s ease-in-out;
}
.main-form .recover {
  display: block;
  font-size: 20px;
  color: #244c98;
  margin-bottom: 36px;
  font-weight: 500;
}
.main-form .recover:hover {
  cursor: pointer;
  color: #3873e1;
  transition: 0.4s ease-in-out;
}
.main-form .button-block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.main-form .main-form-button {
  border: none;
  border-radius: 4px;
  height: 65px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
}
.main-form .sign-up {
  color: #244c98;
  background-color: transparent;
  border: 1px #244c98 solid;
}
.main-form .sign-up:hover {
  color: #183262;
  background-color: #e4edff;
  transition: all 0.4s ease-in-out;
}
.main-form .sign-in {
  color: #fff;
  background-color: #244c98;
}
.main-form .sign-in:hover {
  background-color: #183262;
  transition: all 0.4s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
